@use "../../../../scss/" as *;

.hero__slider {
  position: relative;
  height: 80vh;
  width: 100%;

  .hero__slider__background {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    height: 80vh;

    img {
      width: inherit;
      height: 80vh;
    }

    h3 {
      color: white;
      position: absolute;
      bottom: 4rem;
      right: 6rem;
      font-size: $font-size-3;
    }
  }

  .hero__slider__container {
    display: flex;
    height: 100%;
    align-items: center;
    justify-content: space-between;
    @include paddingAll;

    .hero__slider__left {
      z-index: 99;
      color: white;
      flex: 0.5;

      h1 {
        font-size: $font-size-10;
        font-weight: 700;
        color: #fff;
      }

      .freelance {
        font-style: italic;
      }

      .search__container {
        margin: 1.5rem 0;

        input {
          height: 50px;
          border: 3px 0 0 3px;
          // min-width: 500px;
        }

        button {
          height: 50px;
        }
      }

      p {
        font-size: $font-size-2;
        display: flex;
        flex-wrap: wrap;

        .tags {
          border: 1px solid white;
          border-radius: 15px;
          padding: 0.2rem 0.5rem;
          margin: 0 0.5rem;
        }
      }
    }

    .hero__slider__right {
      z-index: 99;
      align-self: flex-end;
      color: white;
    }
  }
}

@media screen and (max-width: 1600px) {
  .hero__slider {
    .hero__slider__background {
      img {
        height: 80vh;
      }
    }
  }
}

@media screen and (max-width: 1200px) {
  .hero__slider {
    .hero__slider__container {
      @include paddingLarge;

      .hero__slider__left {
        flex: 0.6;
      }
    }
  }
}

@media screen and (max-width: 1000px) {
  .hero__slider {
    .hero__slider__background {
      img {
        height: 70vh;
        object-fit: fill;
      }

      h3 {
        display: none;
      }
    }

    .hero__slider__container {
      .hero__slider__left {
        flex: 0.7;

        p {
          display: none;
        }
      }
    }
  }
}

@media screen and (max-width: 900px) {
  .hero__slider {
    .hero__slider__container {
      @include paddingMedium;

      .hero__slider__left {
        flex: 1;
        h1 {
          font-size: $font-size-9;
        }

        .hero__slider__search {
          form {
            flex-direction: column;

            .search__icon {
              display: none;
            }

            input {
              margin-bottom: 1rem;
              border-radius: 3px;
              width: 100%;
            }

            button {
              border-radius: 3px;
            }
          }
        }
      }
    }
  }
}

@media screen and (max-width: 600px) {
  .hero__slider {
    .hero__slider__background {
      img {
        height: 60vh;
      }
    }

    .hero__slider__container {
      @include paddingSmall;

      .hero__slider__left {
        h1 {
          font-size: $font-size-8;
        }

        .header__slider__search {
          form {
            input {
              width: 100%;
              max-width: 100%;
            }
          }
        }
      }
    }
  }
}
