@use "../../../scss/" as *;

.loginpage {
  margin-top: 130px;

  .loginpage__container {
    @include paddingAll;
    padding-top: 3rem;
    padding-bottom: 3rem;
    display: flex;
    justify-content: center;

    form {
      padding-top: 3rem;
      padding-bottom: 3rem;
      display: flex;
      flex-direction: column;
      align-items: center;
      border: 1px solid $text-color;
      width: 40%;
      height: 50vh;

      h1 {
        margin-bottom: 2rem;
      }

      .form-group {
        width: 80%;
        margin-bottom: 1rem;

        input {
          padding: 1rem 2rem;
          width: 100%;
          border: 1px solid $text-color;

          &:focus {
            outline: none;
          }
        }
      }

      .group-btn {
        display: flex;
        justify-content: space-around;
        margin-top: 1rem;

        button {
          padding: 1rem 1.5rem;
          color: white;
          font-size: $font-size-3;
          font-weight: $font-weight-2;
          background: #1dbf73;
          border: none;
          outline: none;
          cursor: pointer;

          &:hover {
            background: #19a463;
          }

          a {
            color: white;
            font-size: $font-size-3;
            font-weight: $font-weight-2;
            text-decoration: none;
          }
        }

        .signup {
          background: tomato;

          &:hover {
            background: rgb(100, 30, 18);
          }
        }
      }
    }
  }
}

@media screen and (max-width: 1200px) {
  .loginpage {
    .loginpage__container {
      @include paddingLarge;

      form {
        width: 60%;
        height: 50vh;
      }
    }
  }
}

@media screen and (max-width: 900px) {
  .loginpage {
    .loginpage__container {
      @include paddingMedium;

      form {
        width: 70%;
        height: 60vh;

        .form-group {
          margin-bottom: 2rem;
        }
      }
    }
  }
}

@media screen and (max-width: 600px) {
  .loginpage {
    .loginpage__container {
      @include paddingSmall;

      form {
        width: 80%;

        .group-btn {
          flex-direction: column;

          button {
            width: 100%;
            margin-bottom: 2rem;
          }
        }
      }
    }
  }
}
