@use "../../../../scss/" as *;

.search__container {
  position: relative;

  form {
    display: flex;
  }

  .search__icon {
    position: absolute;
    top: 40%;
    left: 10px;
    transform: translateY(-50%);
    svg {
    }
  }

  input {
    color: #111;
    padding: 0rem 2rem;
    padding-left: 2.5rem;
    height: 30px;
    outline: none;
    border-style: inset;
    border-width: 1px;
    border-color: #dadbdd;
    border-radius: 3px 0px 0px 3px;
    box-shadow: none;
    font-weight: $font-weight-1;
    font-size: $font-size-3;
  }
}

@media only screen and(max-width: 1100px) {
  .header__search {
    display: none;
  }
}
