@use "../../../../scss/" as *;

.button {
  padding: 0rem 1.5rem;
  height: 30px;
  border: none;
  border-radius: 0px 5px 5px 0px;
  background: $text-hover;
  color: white;
  outline: none;
  font-weight: $font-weight-1;
  font-size: $font-size-3;
  cursor: pointer;
  &:hover {
    background: $button-hover;
  }
}
