html,
body {
  height: 100%;
  background: transparent;
}

#loader-wrapper {
  position: fixed; /* SET TO FIXED */
  top: 0;
  left: 0;
  width: 100vw; /* USE VIEWPORT UNITS */
  height: 100vh; /* USE VIEWPORT UNITS */
  z-index: 1001; /* MOVE Z-INDEX HERE! */
}

#loader {
  position: absolute;
  left: 50%;
  top: 50%;
  width: 8vmax;
  height: 8vmax;
  margin: -4vmax; /* ADD THIS (half the W/H) */
  border-radius: 50%;
  border: 4px solid transparent;
  border-top-color: #0bf;
  animation: spin 1s linear infinite;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
